body {
  max-width: 540px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

main {
  color: #5e6572;
  background-color: #fff7ee;
}

#brides {
  color: #5e6572;
  background-image: url("../img/kerawang-gayo.png");
  background-size: 540;
}

#brides .container {
  background-color: #fff7ee;
}

#brides .btn-primary {
  background-color: #5e6572;
}

#event .btn-primary {
  background-color: #e5bda7;
  color: #5e6572;
}

#closing {
  color: #5e6572;
  background-image: url("../img/kerawang-gayo.png");
  background-size: 540;
}

#closing .container {
  background-color: #fff7ee;
}

#audio-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #e5bda7;
  color: #5e6572;
  border: none;
  font-size: 1.2rem;
}

#modal-opening {
  color: #5e6572;
}

#modal-opening .modal-body .container {
  background-color: #fff7ee;
  max-width: 540px;
}

#modal-opening .modal-body button {
  background-color: #e5bda7;
  color: #5e6572;
  border: none;
}

#gift button {
  background-color: #e5bda7;
  color: #5e6572;
  border: none;
}

#modal-gift {
  color: #5e6572;
}

/* custom components */
.primary-font {
  font-family: "Montserrat", sans-serif;
}

.secondary-font {
  font-family: "Great Vibes", cursive;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
