body {
  max-width: 540px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

main {
  color: #e5bda7;
  background-color: #5e6572;
}

#brides {
  color: #5e6572;
  background-image: url("../img/kerawang-gayo.png");
  background-size: cover;
}

#brides .container {
  background-color: #fff7ee;
}

#brides .btn-primary {
  background-color: #5e6572;
}

#event .btn-primary {
  background-color: #e5bda7;
  color: #5e6572;
}

#closing {
  color: #5e6572;
  background-image: url("../img/kerawang-gayo.png");
  background-size: cover;
}

#closing .container {
  background-color: #fff7ee;
}

#audio-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #e5bda7;
  color: #5e6572;
  border: none;
  font-size: 1.2rem;
}

#modal-opening {
  color: #5e6572;
}

.modal-content {
  background-color: #5e6572;
}

.modal-body .container {
  background-color: #fff7ee;
}

.modal-body button {
  background-color: #e5bda7;
  color: #5e6572;
  border: none;
}

/* custom components */
.primary-font {
  font-family: "Montserrat", sans-serif;
}

.secondary-font {
  font-family: "Libre Baskerville", serif;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
